.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--gray-light);
  margin-top: 40px;
  margin-left: auto;
}

.btn:hover,
.btn:focus {
  border: 1px solid var(--button-hover);
}
