.equipList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: ;
}

.equipListItem {
  padding: 12px 18px;
  border-radius: 100px;
  background: var(--button);
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  width: fit-content;
}
