.wrap {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  height: 368px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.camperimg {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
}

.wrapInfo {
  max-width: 525px;
}

.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.description {
  margin-top: 24px;
  display: -webkit-box;
  background-clip: text;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  font-family: inherit;
}

.features {
  margin-top: 24px;
}

.btn {
  margin-top: 24px;
  color: var(--white);
}
.like {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.likeBtn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.likeBtn:hover {
  color: none;
}
