@import url("css/colorVariables.css");
@import url("css/main.css");

:root {
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--main);
  background-color: var(--white);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 200px;
  border: 1px solid transparent;
  padding: 16px 48px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--button-hover);
}
