.homeWrap {
  background-image: url(/bg-hero-1x.png);
  /* background-color: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 696px;
}

.heroContent {
  padding-left: 64px;
  padding-top: 260px;
}

.title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
}

.button {
  color: var(--inputs);
}
